{% extends "base.html" %} {% block content %}


<a href="/export/{{data.id}}"><button class="btn btn-primary">Export</button></a>
<h4>There are {{data.itineraries|length}} results from {{data.origin}} to {{data.destination}} on {{data.date}}.</h4>
<div id="accordion-group" class="panel-group">
    {% for it in data.itineraries %}
    <div class="panel panel-default">
        <div class="panel-heading">
                <h4 class="panel-title">
                <!-- <a data-toggle="collapse" data-parent="#accordion" href="#{{loop.index}}">{{ it.duration }} {{ it.price_per_adult }}</a> -->
                <a data-toggle="collapse" data-parent="#accordion" href="#{{loop.index}}">
                        <div>
                                <p class="font-weight-bold">Result #{{loop.index}}</p>
                        </div>
                        <div class="head-info">
                            <div class="duration">
                                    Duration: {{ it.duration }}Hrs
                            </div>
                            <div class="price">
                                    Price: Rs.{{ it.price_per_adult }}
                            </div>
                        </div>
                </a>
            </h4>
        </div>
        <div id="{{loop.index}}" class="panel-collapse collapse in">
            <div class="panel-body">
                
                

                <table class="table table-responsive table-bordered table-hover">
                    <tr>
                        <th>Airline</th>
                        <th>Flight Number</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Arrival Time</th>
                        <th>Departure Time</th>
                    </tr>
                    {% for flight in it.flights %}
                    <tr>
                        <td>{{ flight.airline }}</td>
                        <td>{{ flight.flight_number }}</td>
                        <td>{{ flight.origin }}</td>
                        <td>{{ flight.destination }}</td>
                        <td>{{ flight.arrival_time }}</td>
                        <td>{{ flight.departure_time }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endfor %}

</div>










{% endblock %}