{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid  flight-image">
        <div class="container">
          <h1 class="display-4">Fetch it!</h1>
          <p class="lead">This is a data fetching utility for crawling online travel websites.</p>
        </div>
      </div>
   
    <div class="row">
            <form action="/display"  method="POST" id="input_form">
                <div class="form-row">
                    <div class="form-group col-md-4">
                            <label for="source-city-input">Source city</label>

                            <!-- <input list="source" class="form-control" name="source_city" id="source-city-input" placeholder="Source city">
                            <datalist id="source">
                            {% for i in iata %}
                            <option value="{{ i.code }}" label="{{ i.name }}">
                            {% endfor %}
                            </datalist> -->

                            <input type='text'
                                    autocomplete="off"
                                    id='source-city-input'
                                    placeholder="Source IATA code"
                                    class='flexdatalist form-control'
                                    data-data = "{{ url_for('static', filename='json/airports.json') }}"
                                    data-search-in='name'
                                    data-visible-properties='["iata","name"]'
                                    data-value-property='iata'
                                    data-selection-required='true'
                                    name='source_city'>

                            <!-- <input type="hidden" name="source_city" id="scity">
                            <select class="form-control" id="source-city-input">
                                {% for i in iata %}
                                 {% if loop.index == 1 %}
                                    <option data-cc="{{ i.code }}" selected>{{ i.name }}</option>
                                    {% else %}
                                    <option data-cc="{{ i.code }}">{{ i.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select> -->
                    </div>
                    <div class="form-group col-md-4">
                            <label for="dest-city-input">Destination city</label>


                            <input type='text'
                                    autocomplete="off"
                                    id='dest-city-input'
                                    placeholder="Destination IATA code"
                                    class='flexdatalist form-control'
                                    data-data = "{{ url_for('static', filename='json/airports.json') }}"
                                    data-search-in='name'
                                    data-visible-properties='["iata","name"]'
                                    data-value-property='iata'

                                    data-selection-required='true'
                                    name='destination_city'>

                            <!-- <input list="destination" class="form-control" name="destination_city" id="dest-city-input" placeholder="Destination city">
                            <datalist id="destination">
                            {% for i in iata %}
                            <option value="{{ i.code }}" label="{{ i.name }}">
                            {% endfor %}
                            </datalist> -->
                            <!-- <input type="hidden" name="destination_city" id="dcity">
                            <select class="form-control" id="dest-city-input">
                                    {% for i in iata %}
                                    {% if loop.index == 1 %}
                                    <option data-cc="{{ i.code }}" selected>{{ i.name }}</option>
                                    {% else %}
                                    <option data-cc="{{ i.code }}">{{ i.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                            </select> -->

                    </div>
                    <div class="form-group col-md-2">
                            <!-- <label for="datepicker">Pick a date</label> -->
                            <label for="datepicker">Pick a date</label>

                            <input autocomplete="off" type="text" class="form-control" id="datepicker" name="date_of_departure" placeholder="yyyy-mm-dd">
                    </div>
                    <div class="col-md-2">
                            <label id="invisible-lab" for="sub-btn" >.</label>

                            <input id="sub-btn" type="submit" class="form-control btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
    </div>
    
<!-- <script src="{{ url_for('static', filename='js/jquery-editable-select.js') }}"></script> -->

<script src="{{ url_for('static', filename='js/jquery.flexdatalist.js') }}"></script>

<script>
    $( function() {
        //         $('#source-city-input').editableSelect({ 

        //         }).on('select.editable-select', function (e, el) {
        //         // el is the selected item "option"
        //         $('#source_city').val(el.data('cc'));
        //     });

        // $('#dest-city-input').editableSelect({ 

        //         }).on('select.editable-select', function (e, el) {
        //         // el is the selected item "option"
        //         $('#destination_city').val(el.data('cc'));
        //     });
        

    

        
        $( "#datepicker" ).datepicker({ minDate: 0 });
        $("#datepicker").on("change", function(){
            $("#datepicker").datepicker("option", "showAnim", "slideDown");
            $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
        })
    });



</script>

{% endblock %}