{% extends "base.html" %}
{% block content %}

<h4>Saved data in database</h4>



<div class="list-group ">
    {% for d in data %}
    <div>

        <p class="list-group-item list-group-item-action head-info extra-info">{{ d.date }}  <a href="#" onclick="del({{ d.id }}); return false;" ><i class="fas fa-times"></i></a> </p>
            <!-- <a href="#" onclick="del({{ d.id }}); return false;" class="list-group-item list-group-item-action head-info extra-info">{{ d.date }}</a> -->
            <a href="/export/{{ d.id }}" id="{{ d.id }}" class="list-group-item list-group-item-action head-info">{{ d.origin }} <i class="fas fa-arrow-right"></i> {{ d.destination }}</a> 
    </div>
        
    {% endfor %}
</div>

<!-- <table class="table">
    <tr>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
    </tr>
    {% for d in data %}
        <tr>
            <td><a href="/display/{{ d.id }}">{{ d.origin }}</a></td>
            <td><a href="/display/{{ d.id }}">{{ d.destination }}</a></td>
            <td><a href="/display/{{ d.id }}">{{ d.date }}</a></td>
        </tr>
    {% endfor %}
</table> -->

<script>
    function del(id) {
        console.log("yes");
        data = {'jid': id}
        if(confirm("Are you sure you want to delete this record?")) {
            $.ajax({
                type: "POST",
                url: "/delete",
                data: JSON.stringify(data, null, '\t'),
                contentType: 'application/json;charset=UTF-8',
                success: function(result){
                    console.log(result);
                    $("#"+id.toString()).parent().remove();

                }
            });
        }
    }
</script>



{% endblock %}